@import "tailwindcss";

@font-face {
    font-family: 'Elderberry-Inn';
    src: url('/fonts/elderberry-inn-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .ei-icon {
    font-family: 'Elderberry-Inn';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }